body{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
}
body {
	font-size: 2em;
}
.container {
	display: inline-block;
}
#display {
	width: 305px;
	height: 20px;
	padding: 20px;
	text-align: right;
	border-radius: 0;
}